@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;;
}

body{
    font-size: 35px;
}

#content-first{
    box-shadow: 0px 0px 5px#000000;
    justify-content: space-between;
    background-color: #fefefe;
    color: rgba(255, 140, 0, 0.66);
    display: flex;
h2{
    margin-left: 30px;
    margin-top: 10px;
}
}

#content-secund{
margin-left: 30px;
}

section{
    margin-top: 15px;
}

#content-third{
    margin-top: 20px;
    margin-left: 30px;
}

.list{
    margin-left: 35px;
}


img{
    margin-top: 5px;
    border-radius: 900px;
    margin-right: 35px;
}